html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(207, 146, 184);
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}
h2 {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 3.5em;
  font-style: normal;
  font-size: 400;
}

h2 {
  .delicious-handrawn-regular {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400em;
  font-style: normal;
}

  color: rgb(101, 5, 87);
}

#contenedor {
  margin: auto 1em;
  text-align: center;

}

#tituloPagina {
  font-family: "Henny Penny", system-ui;
  font-weight: 900;
  font-style: normal;
  color: rgb(15, 111, 222);
  font-size: 3.5em;
  
}

#foto {
 height: 550px;
  border: #4e1e63 solid 5px;
  margin-top: 15px;
}

.tituloPrediccion {
  font-size: 3.5em;
}

.prediccion {
  font-size: 1.5em;
  background-color: rgb(17, 95, 173);
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 1.0em;
  background-color: #22062bb5;
  color: rgba(246, 203, 203, 0.813);
  margin-bottom: 2em;
  cursor: pointer
  
}
